@font-face {
  font-family: Lexend;
  src: url(assets/fonts/Lexend-VariableFont_wght.ttf);
}

@font-face {
  font-family: Playfair Display;
  src: url(assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

html {
  background: #0f1729;
  padding: 5px;
  padding-bottom: 60px;
}

a {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  font-family: Lexend;
  font-size: 20px;
}

.tab {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
}
.tab tr,
td,
a {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tab td {
  outline: 1px solid #595959;
  height: 60px;
  padding: 0px;
}

.tab table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 20px;
}

td a {
  display: block;
  padding: 20px;
}

a {
  display: block;
  font-size: 25px;
}

a:hover {
  color: #ffa500;
}

.tab tr :active {
  background: #1e2d52;
}

.intro {
  color: #ffa500;
  font-family: Lexend;
  margin-top: 100px;
  margin-left: 300px;
  padding-right: 0%;
  display: flex;
  align-items: center;
  border-left: 1px solid #595959;
  padding-left: 20px;
}

#greet {
  font-size: 20px;
  margin-bottom: -5px;
}

#name {
  font-size: 50px;
  margin-top: 0px;
  margin-left: -3px;
  margin-bottom: -5px;
}

#title {
  font-size: 30px;
  margin-top: 0px;
  color: #ffffff;
}
#introParagraph {
  font-size: 25px;
  color: #e6e6e6;
  width: 70%;
  font-family: Playfair Display;
}
#profile {
  width: 400px;
  height: 400px;
  text-align: left;
  border: 1px solid #ffa500;
  border-radius: 20px;
  margin-right: 300px;
}

.social {
  color: #ffffff;
  font-size: 70px;
  margin: 10px;
  height: 30px;
  width: 30px;
}
footer {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

.classCenter {
  display: inline-bl;
  text-align: center;
}
.orangeHeader {
  color: #ffa500;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: Lexend;
}

.ulSkills li {
  display: inline;
  margin: 110px;
  margin-bottom: 40px;
}

#project {
  color: #ffa500;
  font-family: Lexend;
  margin-left: 250px;
  margin-top: 50px;
}
.sampleProject {
  width: 70%;
  margin: 0 auto;
}
.sampleProject tr,
td,
th {
  color: #ffffff;
  font-family: Lexend;
  font-size: 25px;
}
#logo {
  width: 50px;
  height: 50px;
  margin-top: 35px;
  margin-right: 20px;
}

.contactMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

input {
  width: 200px;
  padding: 5px;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  color: #595959;
}
.formContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  height: 100px;
  resize: none;
  text-align: center;
}

button {
  padding: 10px;
  background-color: #0f1729;
  color: #ffffff;
  outline: 1px solid #595959;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 108%;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Lexend;
}

button:hover {
  background: #1e2d52;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 20px;
}

td {
  padding: 10px;
}

.icon {
  width: 50px;
  height: 50px;
}
